$tablet_768: 768px;

$tablet_1024: 1024px;

$desktop: 1120px;



@mixin tablet_768{
    @media (min-width: $tablet_768){
        @content;
    }
}

@mixin tablet_1024{
    @media (min-width: $tablet_768){
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktop){
        @content;
    }
}
